# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
/SuperMartAPIs/SuperMart.API/SuperMart.API/obj
/SuperMartAPIs/SuperMart.API/.vs/SuperMart.API
/SuperMartAPIs/SuperMart.API/SuperMart.API/bin/Debug/net7.0
SuperMartAPIs/SuperMart.API/.vs/ProjectEvaluation/supermart.api.metadata.v5.2
SuperMartAPIs/SuperMart.API/.vs/ProjectEvaluation/supermart.api.projects.v5.2
*.user
/SuperMartAPIs/SuperMart.API/.vs/ProjectEvaluation
