/* You can add global styles to this file, and also import other style files */

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

nav {
  background: #125699;
  height: 50px;
  width: 100%;
  position: fixed;
}

label.logo {
  color: whitesmoke;
  font-size: 35px;
  line-height: 50px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 50px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  text-transform: uppercase;
}

a.active,
a:hover {
  background: #1976d2;
  transition: 0.2s;
  color: white;
  font-weight: bold;
}

.flex {
  flex: 1;
  overflow: hidden;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #d11ab0;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.flex img {
  padding: 5px 5px;
}

.column-layout {
  /*max-width: 1300px;
  background-color: #FFF;*/
  margin: auto;
  /*line-height: 1.65;
  padding: 20px 50px;*/
  /* display: flex; */
  /* align-items: center;  */
  /* align-items: stretch; */
}

.sidenav {
  height: calc(100% - 100px);

  /*height: 650;/* /* 100% Full-height */
  width: 15%;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  /*z-index: 1; /* Stay on top */
  top: 50px;
  /* Stay at the top */
  /*left: 0;*/
  background-color: #8f2525;
  /* Black*/

  overflow: hidden;
  /* Disable horizontal scroll
  /*padding-top: 60px; /* Place content 60px from the top */
  /* flex: 1; */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f0eeee;
  display: block;
  transition: 0.3s;
  flex: 1;
}



.content {
  /* flex: 5; */
  /* order: 2; */
  margin: 0 50px 500px 110px;
  padding: 0 10px;
  /* max-width: 960px; */
  /* flex-direction: row; */
  /* align-items: center; */
}

.home-content {
  display: flex;
  margin: 0 10px 10px 10px;
  padding: 50px 100px;
  font-size: 20px;
  /* position: fixed; */
  /* Disable horizontal scroll*/

}

.home-content p {
  font-size: 20px;
  /* position: fixed; */
  /* Disable horizontal scroll*/

}

.home-content  h1 {
  font-size: 30px;
  /* position: fixed; */
  /* Disable horizontal scroll*/

}

svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

.card svg.material-icons path {
  fill: #888;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.card {
  all: unset;
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #f8f6f6;
  /* height: 40px;
  width: 200px; */
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card-center {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 40%;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card.card-small {
  height: 16px;
  width: 168px;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}


footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  /* Height of the footer */
  background: rgb(54, 63, 67);
  display: flex;
}

footer a {
  align-items: center;
  float: inline-end;
}

footer div {
  margin: auto;
  color: #eee;
}


/* Responsive Styles */
@media screen and (max-width: 767px) {

  .card-container>*:not(.circle-link),
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

}