<div class="content">
    <div class="home-content">
        <div class="flex">
            <h1>Welcome to SuperMart</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam quasi similique amet voluptatem molestiae
                nostrum ab nesciunt blanditiis repellendus quos, sequi sunt, dolorem quis facilis mollitia nemo modi
                doloribus quo.</p>
        </div>
        <div class="flex">
            <img width="600" height="300" src="./assets/images/retail.png">
        </div>
    </div>
    <div>
        <table class="products-table">
            <thead>
                <th class="products-th">PID</th>
                <th class="products-th">Name</th>
                <th class="products-th">Price</th>
            </thead>
            <tbody>
                <tr class="products-tr" *ngFor="let product of (products$ | async)">
                    <td class="products-td">
                        {{product.pid}}
                    </td>
                    <td class="products-td">
                        {{product.name}}
                    </td>
                    <td class="products-td">
                        {{product.price}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>