<div class="content">
    <div class="home-content">
        <div class="flex">
            <h1>Welcome to SuperMart</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam quasi similique amet voluptatem molestiae
                nostrum ab nesciunt blanditiis repellendus quos, sequi sunt, dolorem quis facilis mollitia nemo modi
                doloribus quo.</p>
        </div>
        <div class="flex">
            <img width="600" height="300" src="./assets/images/retail.png">
        </div>
    </div>